// Variables
$website-width: 1100px;
$main-color: #ff7171;
$light-color: #f4f4f4;
$medium-color: #cccccc;
$dark-color: #333333;
$bg-image: url('../images/showcase.jpg');

// Functions
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #000000;
    }

    @else {
        @return #ffffff;
    }
}